*.log
*.txt
dist/*
package-lock.json
old_code/*
lodestone/api-test.py
lodestone/test.py
.vscode/
lodestone/nmp-cache/
lodestone_compass/.env
*.pyc
venv/
.github/
.git/
*/__pycache__/
test-cache.txt
lodestone/node_modules
lodestone/test.ts
lodestone/test_plugins.py
*Database.json
lodestone/cache/
lodestone/.env
lodestone/favicon.png
