config.json.json
*.log
history.txt
dist/*
package-lock.json
old_code/*
lodestone/api-test.py
lodestone/test.py
lodestone/*.json
.vscode/
test.py
connect2b2torgDatabase.json
lodestone/nmp-cache/
lodestone/__pycache__/
lodestone_compass/.env